ul {
  list-style-type: none;
}

.todo-item {
  color: #1976d2;
  background: #fff;

  padding: 5px;
  margin-bottom: 2px;

  cursor: pointer;
}

.selected {
  color: #fff;
  background: #1976d2;
}

.name {
  font-size: 22px;
  font-weight: 600;
}

.description {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;

  margin-left: 10px;
}

